/vendor/
/var/
/app/config/config.yml
/app/config/config.php
/app/config/parameters.yml
/app/config/parameters.php
/app/cache/
/app/logs/
/bin/
composer.phar
composer.lock
phpunit.xml
/web/compiled
tests/CSanquer/FakeryGenerator/Test/Config/tmp/
build
tests/CSanquer/FakeryGenerator/Test/Dump/tmp
