parameters:
    form_secret: 4fws6dg4w6df4<qg4sh4646qfgsd4

    i18n.locale_fallback: fr
    i18n.languages: 
        - fr
        - en
    i18n.formats: 
        - yml
    #   - xliff
    i18n.domains:
        - messages
        - validators

    twig.variables:
#        foo: bar
